In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score

# Reading Data

In [3]:
df = pd.read_csv('../Dataset/NSL_new.csv')

In [4]:
df = df.sample(n=4000)

In [5]:
X = df.drop(['label'], axis=1)
y = df['label']

In [6]:
scoring_metrics = {'accuracy' : make_scorer(accuracy_score), 
           'precision' : make_scorer(precision_score, average="micro"),
           'recall' : make_scorer(recall_score, average="micro"), 
           'f1_score' : make_scorer(f1_score, average="micro")}

In [7]:
df.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,label
38682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,neptune
13509,0,350,13336,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,normal
97156,0,181,11928,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,normal
86891,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,neptune
83778,204,87,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,normal

In [8]:
X.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
38682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13509,0,350,13336,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
97156,0,181,11928,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
86891,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
83778,204,87,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
y.head()

38682    neptune
13509     normal
97156     normal
86891    neptune
83778     normal
Name: label, dtype: object

In [10]:
y = y.replace( to_replace =  'normal' , value = 0 )

y = y.replace( to_replace =  'neptune' , value = 1 )
y = y.replace( to_replace =  'back' , value = 1 )
y = y.replace( to_replace =  'land' , value = 1 )
y = y.replace( to_replace =  'pod' , value = 1 )
y = y.replace( to_replace =  'smurf' , value = 1 )
y = y.replace( to_replace =  'teardrop' , value = 1 )
y = y.replace( to_replace =  'mailbomb' , value = 1 )
y = y.replace( to_replace =  'apache2' , value = 1 )
y = y.replace( to_replace =  'processtable' , value = 1 )
y = y.replace( to_replace =  'udpstorm' , value = 1 )
y = y.replace( to_replace =  'worm' , value = 1 )

y = y.replace( to_replace =  'ipsweep' , value = 2 )
y = y.replace( to_replace =  'nmap' , value = 2 )
y = y.replace( to_replace =  'portsweep' , value = 2 )
y = y.replace( to_replace =  'satan' , value = 2 )
y = y.replace( to_replace =  'mscan' , value = 2 )
y = y.replace( to_replace =  'saint' , value = 2 )

y = y.replace( to_replace =  'ftp_write' , value = 3 )
y = y.replace( to_replace =  'guess_passwd' , value = 3 )
y = y.replace( to_replace =  'imap' , value = 3)
y = y.replace( to_replace =  'multihop' , value = 3 )
y = y.replace( to_replace =  'phf' , value = 3 )
y = y.replace( to_replace =  'spy' , value = 3 )
y = y.replace( to_replace =  'warezclient' , value = 3 )
y = y.replace( to_replace =  'warezmaster' , value = 3 )
y = y.replace( to_replace =  'sendmail' , value = 3 )
y = y.replace( to_replace =  'snmpgetattack' , value = 3 )
y = y.replace( to_replace =  'snmpguess' , value = 3 )
y = y.replace( to_replace =  'xlock' , value = 3 )
y = y.replace( to_replace =  'xsnoop' , value = 3 )
y = y.replace( to_replace =  'httptunnel' , value = 3 )

y = y.replace( to_replace =  'buffer_overflow' , value = 4 )
y = y.replace( to_replace =  'loadmodule' , value = 4 )
y = y.replace( to_replace =  'perl' , value = 4 )
y = y.replace( to_replace =  'rootkit' , value = 4 )
y = y.replace( to_replace =  'ps' , value = 4 )
y = y.replace( to_replace =  'sqlattack' , value = 4  )
y = y.replace( to_replace =  'xterm' , value = 4 )

y = y.replace( to_replace =  'unknown' , value = 5 )

In [11]:
y.head()

38682    1
13509    0
97156    0
86891    1
83778    0
Name: label, dtype: int64

# ChiSquared

In [12]:
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import SelectKBest, chi2

In [13]:
print("before transform:",X)
selector=SelectKBest(score_func=chi2,k=25)
fit = selector.fit(X,y)
features = fit.transform(X)
print("scores_:",fit.scores_)
print("pvalues_:",fit.pvalues_)
print("selected index:",fit.get_support(True))
print("after transform:",fit.transform(X)) 
X = fit.transform(X)

before transform:         duration  src_bytes  dst_bytes  land  wrong_fragment  urgent  hot  \
38682          0          0          0     0               0       0    0
13509          0        350      13336     0               0       0    0
97156          0        181      11928     0               0       0    0
86891          0          0          0     0               0       0    0
83778        204         87         30     0               0       0    0
...          ...        ...        ...   ...             ...     ...  ...
13673          0          0          0     0               0       0    0
48335          0          0          0     0               0       0    0
31668          0          0          0     0               0       0    0
115937         0       1480          0     0               1       0    0
101584         0          0          0     0               0       0    0

        num_failed_logins  logged_in  num_compromised  ...  flag_REJ  \
38682                   0          0                0  ...         0
13509                   0          1                0  ...         0
97156                   0          1                0  ...         0
86891                   0          0                0  ...         0
83778                   0          0                0  ...         0
...                   ...        ...              ...  ...       ...
13673                   0          0                0  ...         0
48335                   0          0                0  ...         0
31668                   0          0                0  ...         0
115937                  0          0                0  ...         0
101584                  0          0                0  ...         0

        flag_RSTO  flag_RSTOS0  flag_RSTR  flag_S0  flag_S1  flag_S2  flag_S3  \
38682           0            0          0        1        0        0        0
13509           0            0          0        0        0        0        0
97156           0            0          0        0        0        0        0
86891           0            0          0        1        0        0        0
83778           0            0          0        0        0        0        0
...           ...          ...        ...      ...      ...      ...      ...
13673           0            0          0        1        0        0        0
48335           0            0          0        1        0        0        0
31668           0            0          0        1        0        0        0
115937          0            0          0        0        0        0        0
101584          0            0          0        1        0        0        0

        flag_SF  flag_SH
38682         0        0
13509         1        0
97156         1        0
86891         0        0
83778         1        0
...         ...      ...
13673         0        0
48335         0        0
31668         0        0
115937        1        0
101584        0        0

[4000 rows x 122 columns]
scores_: [5.61670647e+06 8.04617830e+08 8.58600436e+06 3.87533443e-01
 1.33655172e+02            nan 5.72512733e+03 3.04677688e+01
 1.20714862e+03 3.04062194e+02 3.02640999e+02 5.10596946e+00
 4.54431282e+02 3.34167052e+02 1.70198982e+00 1.70021615e+01
            nan            nan 2.36564652e+02 2.38028209e+05
 5.27062449e+03 1.77173996e+03 1.78910624e+03 4.78071215e+02
 4.65755079e+02 8.17580987e+02 2.60465782e+02 2.59465511e+02
 4.82440703e+04 2.36697929e+05 8.47677894e+02 5.24345052e+02
 8.67011688e+02 2.74274450e+02 1.78824330e+03 1.83965343e+03
 3.74589170e+02 4.71415710e+02 5.08539654e+02 6.13796653e+01
 2.14378203e+02 6.80795928e+00 4.25497455e+00 3.72754075e+01
 1.02994350e+01 1.86547148e+01 2.98965517e+01 3.72754075e+01
 2.63793103e+01 4.04482759e+01 3.51724138e+01 2.53389010e+01
 2.19642959e+01 2.51043498e+02 1.05517241e+01 1.01334262e+03
 9.21242256e+01 4.04482759e+01 4.22068966e+01 3.93959221e+01
 1.82129092e+02 3.32343927e+02 1.34223651e+01            nan
 3.16551724e+01 8.52151339e+02            nan 2.98965517e+01
            nan 1.93448276e+01 4.07475910e+01 2.69189341e+01
 1.23103448e+01 2.46206897e+01 1.90936424e+01 2.17992727e+01
 1.93448276e+01 4.07475910e+01 1.67577115e+01 2.28620690e+01
 2.63793103e+01 2.17992727e+01 2.81379310e+01 1.90936424e+01
 4.25497455e+00 1.52242559e+02            nan 3.51724138e+00
 2.02647822e+00 6.08747321e+00 6.81932567e+02 8.50994910e-01
            nan 5.27586207e+00 5.27586207e+00 1.54832519e+02
 1.05517241e+01 1.18723510e+01 1.84262165e+01 3.20832243e+01
 1.58275862e+01 4.58399135e+01            nan            nan
 2.57892039e+01 1.70198982e+00 1.64426509e+01 3.55422543e+01
 4.74827586e+01 5.62758621e+01 2.52062548e+01 1.02994350e+01
 1.66163009e+02 3.72116148e+01 4.11977401e+01 6.85034314e+02
 1.88744646e+03 8.50994910e+00 2.55298473e+00 1.70198982e+00
 1.09349800e+03 9.26949153e+01]
pvalues_: [0.00000000e+000 0.00000000e+000 0.00000000e+000 9.83484795e-001
 6.43508716e-028             nan 0.00000000e+000 3.93034348e-006
 4.49218591e-260 1.44050001e-064 2.91810150e-064 2.76596169e-001
 4.78460795e-097 4.59273861e-071 7.90356139e-001 1.93108126e-003
             nan             nan 5.09582723e-050 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 3.70194911e-102
 1.70434783e-099 1.19428047e-175 3.61923545e-055 5.94517361e-055
 0.00000000e+000 0.00000000e+000 3.60834816e-182 3.63211119e-112
 2.33775835e-186 3.82270328e-058 0.00000000e+000 0.00000000e+000
 8.58683538e-080 1.01763481e-100 9.52832772e-109 1.48763015e-012
 3.03772269e-045 1.46391455e-001 3.72597183e-001 1.58066127e-007
 3.56747770e-002 9.18690798e-004 5.13759681e-006 1.58066127e-007
 2.65324517e-005 3.49621840e-008 4.28152175e-007 4.30010055e-005
 2.03726920e-004 3.87937851e-053 3.20919130e-002 4.58172484e-218
 4.65746944e-019 3.49621840e-008 1.51129378e-008 5.77047770e-008
 2.60173267e-038 1.13657120e-070 9.38623532e-003             nan
 2.25003085e-006 3.87429436e-183             nan 5.13759681e-006
             nan 6.72336546e-004 3.03147987e-008 2.06433421e-005
 1.51866746e-002 5.99617746e-005 7.53337884e-004 2.19726163e-004
 6.72336546e-004 3.03147987e-008 2.15406613e-003 1.34918677e-004
 2.65324517e-005 2.19726163e-004 1.16952457e-005 7.53337884e-004
 3.72597183e-001 6.73166479e-032             nan 4.75261602e-001
 7.30888627e-001 1.92710264e-001 2.84582260e-146 9.31483678e-001
             nan 2.60145052e-001 2.60145052e-001 1.87478619e-032
 3.20919130e-002 1.83261740e-002 1.01848788e-003 1.83961539e-006
 3.25946164e-003 2.65919174e-009             nan             nan
 3.48972841e-005 7.90356139e-001 2.47923142e-003 3.59408127e-007
 1.20968941e-009 1.75513502e-011 4.57267232e-005 3.56747770e-002
 6.96404311e-035 1.62924067e-007 2.44599426e-008 6.06229585e-147
 0.00000000e+000 7.45862289e-002 6.35173847e-001 7.90356139e-001
 1.94315970e-235 3.52250458e-019]
selected index: [  0   1   2   6   8  19  20  21  22  23  25  28  29  30  31  32  34  35
  38  55  65  90 115 116 120]
after transform: [[0.0000e+00 0.0000e+00 0.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 [0.0000e+00 3.5000e+02 1.3336e+04 ... 0.0000e+00 0.0000e+00 1.0000e+00]
 [0.0000e+00 1.8100e+02 1.1928e+04 ... 0.0000e+00 0.0000e+00 1.0000e+00]
 ...
 [0.0000e+00 0.0000e+00 0.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]
 [0.0000e+00 1.4800e+03 0.0000e+00 ... 0.0000e+00 0.0000e+00 1.0000e+00]
 [0.0000e+00 0.0000e+00 0.0000e+00 ... 0.0000e+00 1.0000e+00 0.0000e+00]]

# Random Forest

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
randomForestModel = RandomForestClassifier(max_depth=2, random_state=0, n_estimators=100)

In [17]:
randomForestScore = cross_validate(randomForestModel, X, y, cv=4, scoring=scoring_metrics, verbose=3 ,n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    3.4s finished

In [18]:
randomForestScore = pd.DataFrame(randomForestScore)

In [19]:
randomForestScore.to_csv('NSL_RandomForest_ChiSquared_scores.csv')

In [20]:
randomForestScore

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,0.220007,0.111840,0.918245,0.918245,0.918245,0.918245
1,0.221212,0.089945,0.920080,0.920080,0.920080,0.920080
2,0.229800,0.075332,0.913828,0.913828,0.913828,0.913828
3,0.220738,0.094440,0.927856,0.927856,0.927856,0.927856

In [21]:
from sklearn.model_selection import GridSearchCV
import numpy as np

In [22]:
rf_parameters={'n_estimators' : range(80,200,20),'max_depth': range(1,20,3), 'min_samples_split': np.arange(0.1,1,0.1)}

In [23]:
rf2 = RandomForestClassifier()

In [24]:
dlGrid = GridSearchCV(rf2, rf_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=3)

In [27]:
dlGrid.fit(X, y)

Fitting 3 folds for each of 378 candidates, totalling 1134 fits

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.6s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:   10.5s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   23.8s
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:   40.2s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 1134 out of 1134 | elapsed:  1.6min finished

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=Fa...
                         'min_samples_split': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                         'n_estimators': range(80, 200, 20)},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [28]:
dtGridScores = pd.DataFrame(dlGrid.cv_results_)
dtGridScores.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,param_n_estimators,params,split0_test_accuracy,split1_test_accuracy,...,split2_test_recall,mean_test_recall,std_test_recall,rank_test_recall,split0_test_f1_score,split1_test_f1_score,split2_test_f1_score,mean_test_f1_score,std_test_f1_score,rank_test_f1_score
0,0.287591,0.005843,0.137304,0.036277,1,0.1,80,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.866667,0.869467,...,0.848348,0.86150,0.009363,207,0.866667,0.869467,0.848348,0.86150,0.009363,207
1,0.234340,0.054745,0.134497,0.059267,1,0.1,100,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.844195,0.866467,...,0.874625,0.86175,0.012863,205,0.844195,0.866467,0.874625,0.86175,0.012863,205
2,0.309663,0.094506,0.192712,0.029361,1,0.1,120,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.861423,0.866467,...,0.875375,0.86775,0.005768,177,0.861423,0.866467,0.875375,0.86775,0.005768,177
3,0.506380,0.006365,0.209097,0.031626,1,0.1,140,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.865169,0.867967,...,0.870871,0.86800,0.002328,167,0.865169,0.867967,0.870871,0.86800,0.002328,167
4,0.415766,0.033822,0.319706,0.031839,1,0.1,160,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.864419,0.866467,...,0.870871,0.86725,0.002692,188,0.864419,0.866467,0.870871,0.86725,0.002692,188

In [29]:
dt3=dlGrid.best_estimator_

In [31]:
dtFinalScore = cross_validate(dt3, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.9s finished

In [32]:
dtFinalScore = pd.DataFrame(dtFinalScore)

In [33]:
dtFinalScore['test_accuracy'].mean()

0.9692533646031369

In [34]:
randomForestScore.to_csv('NSL_RandomForest_ChiSquared_bestEstimator.csv')

# Neural Network

In [35]:
from sklearn.neural_network import MLPClassifier

In [36]:
mlpModel = MLPClassifier()

In [37]:
mlpScore=cross_validate(mlpModel, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    4.9s finished

In [38]:
mlpModel

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [39]:
mlpScore = pd.DataFrame(mlpScore)

In [40]:
mlpScore.to_csv('NSL_MLP_ChiSquared_scores.csv')

In [41]:
nLayers=[
    (4),
    (7),
    (10), #one layer of 10 nodes
    (13),
    (17),
    (20),
    (30),
    (50),
    (80),
    (100),
    (120),
    (140),
    (180),
    (220),
    (10, 10), #two layers, 10 nodes each
    (20, 20), #two layers, 20 nodes each
    (30, 30),
    (50, 50),
    (80, 80),
    (100, 100),
    (150, 150),
    (10, 10, 10), #three layers, 10 nodes each
    (20, 20, 20),
    (30, 30, 30),
    (50, 50, 50),
    (80, 80, 80),
]

In [42]:
mlp_parameters = {
    'hidden_layer_sizes': nLayers,
    'solver': ['sgd', 'adam'],
    'alpha': [0.001, 0.01, 0.05],
    'learning_rate': ['constant','adaptive'],
}

In [43]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [44]:
from sklearn.neural_network import MLPClassifier
mlpModel2 = MLPClassifier()

In [45]:
mlp_grid = GridSearchCV(mlpModel2, mlp_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=3)

In [ ]:
mlp_grid.fit(X, y)

Fitting 3 folds for each of 312 candidates, totalling 936 fits

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    5.2s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   40.2s
[Parallel(n_jobs=-1)]: Done 288 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 512 tasks      | elapsed:  3.6min

In [ ]:
mlpGridScores=pd.DataFrame(mlp_grid.cv_results_)
mlpGridScores.head()

In [ ]:
mlpFinalModel = mlp_grid.best_estimator_
mlp_grid.best_params_

In [ ]:
mlpFinalScore=cross_validate(mlpFinalModel, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

In [ ]:
mlpFinalScore = pd.DataFrame(mlpFinalScore)
mlpFinalScore.to_csv('NSL_ANN_ChiSquared_bestEstimator.csv')

In [ ]:
mlpFinalScore['test_accuracy'].mean()

# Decision Trees

In [ ]:
from sklearn.tree import tree

In [ ]:
dt=tree.DecisionTreeClassifier()

In [ ]:
dtScore = cross_validate(dt, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

In [ ]:
dtScore = pd.DataFrame(dtScore)
dtScore.head()

In [ ]:
dtScore.to_csv('NSL_dtScore_ChiSquared_scores.csv')

In [ ]:
dt_parameters={'min_samples_split' : range(10,500,20),'max_depth': range(1,20,2)}

In [ ]:
dt2 = tree.DecisionTreeClassifier()

In [ ]:
dlGrid = GridSearchCV(dt2, dt_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=4)

In [ ]:
dlGrid.fit(X, y)

In [ ]:
dtGridScores = pd.DataFrame(dlGrid.cv_results_)
dtGridScores.head()
dtGridScores.to_csv('NSL_DT_ChiSquared_GridSearch.csv')

In [ ]:
dt3=dlGrid.best_estimator_
dlGrid.best_params_

In [ ]:
dtFinalScore = cross_validate(dt3, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

In [ ]:
dtFinalScore = pd.DataFrame(dtFinalScore)
dtFinalScore.to_csv('NSL_DT_ChiSquared_bestEstimator.csv')
dtFinalScore['test_precision'].mean()

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier()

In [ ]:
k_range = list(range(1, 101, 5))

In [ ]:
param_dict = dict(n_neighbors=k_range)

In [ ]:
grid = GridSearchCV(knn, param_dict, cv=4, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1)

In [ ]:
grid.fit(X, y)

In [ ]:
knnScore = pd.DataFrame(grid.cv_results_)
knnScore.to_csv('NSL_KNN_ChiSquared_GridSearch.csv')

In [ ]:
knn2=grid.best_estimator_
grid.best_params_

In [ ]:
knnFinalScore = cross_validate(knn2, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

In [ ]:
knnFinalScore = pd.DataFrame(knnFinalScore)

In [ ]:
knnFinalScore.to_csv('NSL_KNN_PCA_bestEstimator.csv')

In [ ]:
pd.DataFrame(mlpScore).mean()

# All Results

In [ ]:
allResults=pd.concat([
    mlpScore.mean(),
    dtFinalScore.mean(),
    knnFinalScore.mean(),
    randomForestScore.mean()
], axis=1)
allResults

In [ ]:
allResults.rename(columns={0:'Multi-level Perceptron', 1:'Decision Tree', 2:'KNN' , 3:'Random Forest' },  inplace=True)
allResults

# All Results

In [ ]:
allResults.to_csv('NSL_ChiSquared_Final.csv')