In [237]:
import pandas as pd
import numpy as np

In [238]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score

# Reading Data

In [239]:
df = pd.read_csv('Dataset/NSL_new.csv')

In [240]:
df = df.sample(n=4000)

In [241]:
X = df.drop(['label'], axis=1)
y = df['label']

In [242]:
scoring_metrics = {'accuracy' : make_scorer(accuracy_score), 
           'precision' : make_scorer(precision_score, average="micro"),
           'recall' : make_scorer(recall_score, average="micro"), 
           'f1_score' : make_scorer(f1_score, average="micro")}

In [243]:
df.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,label
92406,0,87,129,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,normal
122411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,neptune
14696,33,938,2720,0,0,0,19,0,1,0,...,0,0,0,0,0,0,0,1,0,normal
90219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
96814,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,portsweep

In [244]:
X.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
92406,0,87,129,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
122411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14696,33,938,2720,0,0,0,19,0,1,0,...,0,0,0,0,0,0,0,0,1,0
90219,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
96814,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [245]:
y.head()

92406        normal
122411      neptune
14696        normal
90219        normal
96814     portsweep
Name: label, dtype: object

In [246]:
y = y.replace( to_replace =  'normal' , value = 0 )

y = y.replace( to_replace =  'neptune' , value = 1 )
y = y.replace( to_replace =  'back' , value = 1 )
y = y.replace( to_replace =  'land' , value = 1 )
y = y.replace( to_replace =  'pod' , value = 1 )
y = y.replace( to_replace =  'smurf' , value = 1 )
y = y.replace( to_replace =  'teardrop' , value = 1 )
y = y.replace( to_replace =  'mailbomb' , value = 1 )
y = y.replace( to_replace =  'apache2' , value = 1 )
y = y.replace( to_replace =  'processtable' , value = 1 )
y = y.replace( to_replace =  'udpstorm' , value = 1 )
y = y.replace( to_replace =  'worm' , value = 1 )

y = y.replace( to_replace =  'ipsweep' , value = 2 )
y = y.replace( to_replace =  'nmap' , value = 2 )
y = y.replace( to_replace =  'portsweep' , value = 2 )
y = y.replace( to_replace =  'satan' , value = 2 )
y = y.replace( to_replace =  'mscan' , value = 2 )
y = y.replace( to_replace =  'saint' , value = 2 )

y = y.replace( to_replace =  'ftp_write' , value = 3 )
y = y.replace( to_replace =  'guess_passwd' , value = 3 )
y = y.replace( to_replace =  'imap' , value = 3)
y = y.replace( to_replace =  'multihop' , value = 3 )
y = y.replace( to_replace =  'phf' , value = 3 )
y = y.replace( to_replace =  'spy' , value = 3 )
y = y.replace( to_replace =  'warezclient' , value = 3 )
y = y.replace( to_replace =  'warezmaster' , value = 3 )
y = y.replace( to_replace =  'sendmail' , value = 3 )
y = y.replace( to_replace =  'snmpgetattack' , value = 3 )
y = y.replace( to_replace =  'snmpguess' , value = 3 )
y = y.replace( to_replace =  'xlock' , value = 3 )
y = y.replace( to_replace =  'xsnoop' , value = 3 )
y = y.replace( to_replace =  'httptunnel' , value = 3 )

y = y.replace( to_replace =  'buffer_overflow' , value = 4 )
y = y.replace( to_replace =  'loadmodule' , value = 4 )
y = y.replace( to_replace =  'perl' , value = 4 )
y = y.replace( to_replace =  'rootkit' , value = 4 )
y = y.replace( to_replace =  'ps' , value = 4 )
y = y.replace( to_replace =  'sqlattack' , value = 4  )
y = y.replace( to_replace =  'xterm' , value = 4 )

y = y.replace( to_replace =  'unknown' , value = 5 )

In [247]:
y.head()

92406     0
122411    1
14696     0
90219     0
96814     2
Name: label, dtype: int64

# Feature Selection

In [248]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import SelectKBest, chi2

In [249]:
print("before transform:",X)
selector=SelectKBest(score_func=chi2,k=25)
fit = selector.fit(X,y)
features = fit.transform(X)
print("scores_:",fit.scores_)
print("pvalues_:",fit.pvalues_)
print("selected index:",fit.get_support(True))
print("after transform:",fit.transform(X)) 
X = fit.transform(X)

before transform:         duration  src_bytes  dst_bytes  land  wrong_fragment  urgent  hot  \
92406          0         87        129     0               0       0    0
122411         0          0          0     0               0       0    0
14696         33        938       2720     0               0       0   19
90219          0          0          0     0               0       0    0
96814          0          0          0     0               0       0    0
...          ...        ...        ...   ...             ...     ...  ...
21172          0         45         45     0               0       0    0
108673         0        228        882     0               0       0    0
23659         25        241        777     0               0       0    4
119184         0          1          0     0               0       0    0
43789          0        249       4655     0               0       0    0

        num_failed_logins  logged_in  num_compromised  ...  flag_REJ  \
92406                   0          0                0  ...         0
122411                  0          0                0  ...         0
14696                   0          1                0  ...         0
90219                   0          0                0  ...         1
96814                   0          0                0  ...         0
...                   ...        ...              ...  ...       ...
21172                   0          0                0  ...         0
108673                  0          1                0  ...         0
23659                   0          1                0  ...         0
119184                  0          0                0  ...         0
43789                   0          1                0  ...         0

        flag_RSTO  flag_RSTOS0  flag_RSTR  flag_S0  flag_S1  flag_S2  flag_S3  \
92406           0            0          0        0        0        0        0
122411          0            0          0        1        0        0        0
14696           0            0          0        0        0        0        0
90219           0            0          0        0        0        0        0
96814           0            0          1        0        0        0        0
...           ...          ...        ...      ...      ...      ...      ...
21172           0            0          0        0        0        0        0
108673          0            0          0        0        0        0        0
23659           0            0          0        0        0        0        0
119184          0            0          0        0        0        0        0
43789           0            0          0        0        0        0        0

        flag_SF  flag_SH
92406         1        0
122411        0        0
14696         1        0
90219         0        0
96814         0        0
...         ...      ...
21172         1        0
108673        1        0
23659         1        0
119184        1        0
43789         1        0

[4000 rows x 122 columns]
scores_: [7.79169132e+06 9.51711261e+07 3.95449552e+09            nan
 1.54636364e+02            nan 1.19006235e+04 4.24338937e+01
 1.16404039e+03 5.86740036e+02 6.87018325e+02            nan
 1.08708314e+02 1.15191131e+02 8.17355747e-01 1.73489323e+01
            nan            nan 3.93406114e+02 2.40166725e+05
 5.92910037e+03 1.74472702e+03 1.75712447e+03 4.85690742e+02
 4.99042567e+02 7.72337237e+02 3.04558494e+02 2.46792093e+02
 5.28665146e+04 2.13277960e+05 8.02085656e+02 6.02380044e+02
 7.17627451e+02 2.81508700e+02 1.73355986e+03 1.81486814e+03
 4.01779693e+02 4.70820975e+02 4.72552601e+02 5.84889724e+01
 2.03690217e+02 4.08677874e+00 3.26942299e+00 4.78636364e+01
            nan 1.89951495e+01 3.00314004e+01 4.05000000e+01
 2.76136364e+01 2.02500000e+01 2.57727273e+01 2.39318182e+01
 2.77133379e+01 2.58284416e+02 2.20909091e+01 1.03561015e+03
 1.34210338e+02 2.76136364e+01 3.12954545e+01 3.37398933e+01
 2.48767813e+02 1.60169557e+02 3.86590909e+01            nan
 2.64361640e+01 8.39890592e+02            nan 3.31363636e+01
            nan 4.23409091e+01 2.57727273e+01 2.10896927e+01
 2.02500000e+01 1.65681818e+01 1.53882629e+01 2.76136364e+01
 3.12954545e+01 1.93256131e+01 2.02500000e+01 1.47272727e+01
 1.47272727e+01 1.65681818e+01 4.41818182e+01 1.28863636e+01
 5.72149023e+00 1.99639508e+02            nan 1.84090909e+00
 1.37253196e-01 3.68181818e+00 7.60502188e+02            nan
 6.31932135e+00 4.99148519e+00 5.52272727e+00 1.64554310e+02
 7.36363636e+00 1.26386427e+01 2.20909091e+01 3.18355122e+01
 2.94545455e+01 7.39342022e+01            nan            nan
 2.89688497e+01            nan 1.79818264e+01 5.15454545e+01
 4.23409091e+01 3.68181818e+01 4.41818182e+01            nan
 2.19726837e+02 4.21298554e+01 1.01420613e+01 6.42883868e+02
 1.82662208e+03 4.90413448e+00 3.26942299e+00 8.17355747e-01
 1.01446029e+03 8.11364903e+01]
pvalues_: [0.00000000e+000 0.00000000e+000 0.00000000e+000             nan
 2.06539386e-032             nan 0.00000000e+000 1.35606791e-008
 9.94316819e-251 1.14792524e-125 2.25458711e-147             nan
 1.37227042e-022 5.68104827e-024 9.36106256e-001 1.65330975e-003
             nan             nan 7.39539088e-084 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 8.33124752e-104
 1.07926521e-106 7.53355717e-166 1.12576238e-064 3.19583683e-052
 0.00000000e+000 0.00000000e+000 2.71384592e-172 4.73277151e-129
 5.31198364e-154 1.05365622e-059 0.00000000e+000 0.00000000e+000
 1.14752662e-085 1.36833087e-100 5.77777833e-101 6.02458615e-012
 6.04526007e-043 3.94388999e-001 5.13791464e-001 1.00762138e-009
             nan 7.87670653e-004 4.82292159e-006 3.41110962e-008
 1.49360856e-005 4.45726433e-004 3.51651047e-005 8.24279850e-005
 1.42576049e-005 1.06824242e-054 1.92239768e-004 6.84095628e-223
 4.89525558e-028 1.49360856e-005 2.66460810e-006 8.42555479e-007
 1.19949279e-052 1.34450327e-033 8.19243001e-008             nan
 2.58405013e-005 1.75509589e-180             nan 1.12010021e-006
             nan 1.41763037e-008 3.51651047e-005 3.03962199e-004
 4.45726433e-004 2.34425265e-003 3.96011119e-003 1.49360856e-005
 2.66460810e-006 6.78215896e-004 4.45726433e-004 5.30161886e-003
 5.30161886e-003 2.34425265e-003 5.88140536e-009 1.18445978e-002
 2.20935403e-001 4.49135435e-042             nan 7.64989902e-001
 9.97750207e-001 4.50775887e-001 2.75587261e-163             nan
 1.76536580e-001 2.88172285e-001 2.37738945e-001 1.54174114e-034
 1.17874869e-001 1.31833088e-002 1.92239768e-004 2.06704119e-006
 6.31946247e-006 3.34810768e-015             nan             nan
 7.93212022e-006             nan 1.24423149e-003 1.71687776e-010
 1.41763037e-008 1.96353477e-007 5.88140536e-009             nan
 2.14640547e-046 1.56790827e-008 3.81014760e-002 8.09083665e-138
 0.00000000e+000 2.97276086e-001 5.13791464e-001 9.36106256e-001
 2.62305113e-218 1.00045300e-016]
selected index: [  0   1   2   6   8   9  10  19  20  21  22  25  28  29  30  31  32  34
  35  55  65  90 115 116 120]
after transform: [[0.000e+00 8.700e+01 1.290e+02 ... 0.000e+00 0.000e+00 1.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 1.000e+00 0.000e+00]
 [3.300e+01 9.380e+02 2.720e+03 ... 0.000e+00 0.000e+00 1.000e+00]
 ...
 [2.500e+01 2.410e+02 7.770e+02 ... 0.000e+00 0.000e+00 1.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]
 [0.000e+00 2.490e+02 4.655e+03 ... 0.000e+00 0.000e+00 1.000e+00]]

# SVM

In [250]:
from sklearn import svm

In [251]:
svmModel = svm.SVC(gamma='scale')
print(X.shape)

(4000, 25)

In [252]:
svmScore = cross_validate(svmModel, X, y, cv=4, scoring=scoring_metrics, verbose=15 ,n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    1.8s
[Parallel(n_jobs=-1)]: Done   2 out of   4 | elapsed:    1.8s remaining:    1.8s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    1.9s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    1.9s finished

In [253]:
ss = pd.DataFrame(svmScore)

In [254]:
ss.head()

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,0.307179,0.271273,0.549900,0.549900,0.549900,0.549900
1,0.311168,0.286233,0.550000,0.550000,0.550000,0.550000
2,0.337099,0.302222,0.557000,0.557000,0.557000,0.557000
3,0.297206,0.283241,0.551102,0.551102,0.551102,0.551102

In [255]:
svmScore.to_csv('NSL_svm_scores_ChiSquared.csv')

AttributeError: 'dict' object has no attribute 'to_csv'

# Random Forest

In [256]:
from sklearn.ensemble import RandomForestClassifier

In [257]:
randomForestModel = RandomForestClassifier(max_depth=2, random_state=0, n_estimators=100)

In [258]:
randomForestScore = cross_validate(randomForestModel, X, y, cv=4, scoring=scoring_metrics, verbose=3 ,n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    1.1s finished

In [259]:
randomForestScore = pd.DataFrame(randomForestScore)

In [260]:
randomForestScore.to_csv('NSL_RandomForest_scores_ChiSquared.csv')

In [261]:
randomForestScore

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,0.102725,0.035904,0.886228,0.886228,0.886228,0.886228
1,0.098736,0.038896,0.909000,0.909000,0.909000,0.909000
2,0.105717,0.036902,0.916000,0.916000,0.916000,0.916000
3,0.102724,0.037900,0.919840,0.919840,0.919840,0.919840

In [262]:
from sklearn.model_selection import GridSearchCV
import numpy as np

In [263]:
rf_parameters={'n_estimators' : range(80,200,20),'max_depth': range(1,20,3), 'min_samples_split': np.arange(0.1,1,0.1)}

In [264]:
rf2 = RandomForestClassifier()

In [265]:
dlGrid = GridSearchCV(rf2, rf_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=3)

In [266]:
dlGrid.fit(X, y)

Fitting 3 folds for each of 378 candidates, totalling 1134 fits

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   10.0s
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:   18.5s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:   30.1s
[Parallel(n_jobs=-1)]: Done 1134 out of 1134 | elapsed:   45.7s finished

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=Fa...
                         'min_samples_split': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                         'n_estimators': range(80, 200, 20)},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [74]:
dtGridScores = pd.DataFrame(dlGrid.cv_results_)
dtGridScores.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,param_n_estimators,params,split0_test_accuracy,split1_test_accuracy,...,split2_test_recall,mean_test_recall,std_test_recall,rank_test_recall,split0_test_f1_score,split1_test_f1_score,split2_test_f1_score,mean_test_f1_score,std_test_f1_score,rank_test_f1_score
0,0.847261,0.178225,0.491494,0.242463,1,0.1,80,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.854042,0.858965,...,0.854245,0.85575,0.002274,116,0.854042,0.858965,0.854245,0.85575,0.002274,116
1,1.176332,0.184932,0.356039,0.166700,1,0.1,100,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.853293,0.858965,...,0.853494,0.85525,0.002627,189,0.853293,0.858965,0.853494,0.85525,0.002627,189
2,0.970507,0.454119,0.605512,0.292350,1,0.1,120,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.853293,0.858215,...,0.854245,0.85525,0.002132,189,0.853293,0.858215,0.854245,0.85525,0.002132,189
3,1.249456,0.592748,0.870990,0.468795,1,0.1,140,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.854042,0.857464,...,0.854996,0.85550,0.001442,141,0.854042,0.857464,0.854996,0.85550,0.001442,141
4,1.348267,0.633221,0.817804,0.384856,1,0.1,160,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.854042,0.858215,...,0.854245,0.85550,0.001921,141,0.854042,0.858215,0.854245,0.85550,0.001921,141

In [163]:
dt3=dlGrid.best_estimator_

In [164]:
dtFinalScore = cross_validate(dt3, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    3.7s finished

In [165]:
pd.DataFrame(dtFinalScore)

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,1.185003,0.404341,0.965070,0.965070,0.965070,0.965070
1,1.307676,0.291692,0.967033,0.967033,0.967033,0.967033
2,1.174940,0.442456,0.961962,0.961962,0.961962,0.961962
3,1.197099,0.422419,0.963928,0.963928,0.963928,0.963928

In [166]:
dtFinalScore['test_accuracy'].mean()

0.9644981612464483

In [267]:
randomForestScore.to_csv('NSL_RandomForest_ChiSquared_bestEstimator.csv')

# Neural Network

In [268]:
from sklearn.neural_network import MLPClassifier

In [269]:
mlpModel = MLPClassifier()

In [270]:
mlpScore=cross_validate(mlpModel, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    3.1s finished

In [271]:
mlpModel

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [272]:
mlpScore = pd.DataFrame(mlpScore)

In [273]:
mlpScore.to_csv('NSL_MLP_scores_ChiSquared.csv')

In [274]:
nLayers=[
    (4),
    (7),
    (10), #one layer of 10 nodes
    (13),
    (17),
    (20),
    (30),
    (50),
    (80),
    (100),
    (120),
    (140),
    (180),
    (220),
    (10, 10), #two layers, 10 nodes each
    (20, 20), #two layers, 20 nodes each
    (30, 30),
    (50, 50),
    (80, 80),
    (100, 100),
    (150, 150),
    (10, 10, 10), #three layers, 10 nodes each
    (20, 20, 20),
    (30, 30, 30),
    (50, 50, 50),
    (80, 80, 80),
]

In [275]:
mlp_parameters = {
    'hidden_layer_sizes': nLayers,
    'solver': ['sgd', 'adam'],
    'alpha': [0.001, 0.01, 0.05],
    'learning_rate': ['constant','adaptive'],
}

In [276]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [277]:
from sklearn.neural_network import MLPClassifier
mlpModel2 = MLPClassifier()

In [278]:
mlp_grid = GridSearchCV(mlpModel2, mlp_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=3)

In [279]:
mlp_grid.fit(df_pca, y)

NameError: name 'df_pca' is not defined

In [280]:
mlpGridScores=pd.DataFrame(mlp_grid.cv_results_)
mlpGridScores.head()

AttributeError: 'GridSearchCV' object has no attribute 'cv_results_'

In [281]:
mlpFinalModel = mlp_grid.best_estimator_
mlp_grid.best_params_

AttributeError: 'GridSearchCV' object has no attribute 'best_estimator_'

In [282]:
mlpFinalScore=cross_validate(mlpFinalModel, df_pca, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

NameError: name 'df_pca' is not defined

In [283]:
mlpFinalScore = pd.DataFrame(mlpFinalScore)
mlpFinalScore.to_csv('NSL_MLP_Scores_ChiSquared.csv')

In [284]:
mlpFinalScore['test_accuracy'].mean()

0.9577533955286466

# Decision Trees

In [223]:
from sklearn.tree import tree

In [230]:
dt=tree.DecisionTreeClassifier()

In [231]:
dtScore = cross_validate(dt, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.0s finished

In [232]:
dtScore = pd.DataFrame(dtScore)

In [233]:
dtScore.to_csv('NSL_dtScore_scores_ChiSquared.csv')

In [234]:
dt_parameters={'min_samples_split' : range(10,500,20),'max_depth': range(1,20,2)}

In [235]:
dt2 = DecisionTreeClassifier()

NameError: name 'DecisionTreeClassifier' is not defined

In [236]:
dlGrid = GridSearchCV(dt2, dt_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=4)

NameError: name 'dt2' is not defined

In [190]:
dlGrid.fit(X, y)

Fitting 3 folds for each of 378 candidates, totalling 1134 fits

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:   27.5s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:   46.1s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 1134 out of 1134 | elapsed:  3.6min finished

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=Fa...
                         'min_samples_split': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                         'n_estimators': range(80, 200, 20)},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [191]:
dtGridScores = pd.DataFrame(dlGrid.cv_results_)
dtGridScores.head()
dtGridScores.to_csv('NSL_DT_GridSearch_ChiSquared')

In [192]:
dt3=dlGrid.best_estimator_
dlGrid.best_params_

{'max_depth': 7, 'min_samples_split': 0.1, 'n_estimators': 120}

In [193]:
dtFinalScore = cross_validate(dt3, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    1.8s finished

In [194]:
dtFinalScore = pd.DataFrame(dtFinalScore)
dtFinalScore.to_csv('NSL_DT_Scores_ChiSquared')
dtFinalScore['test_accuracy'].mean()

0.9622429014761583

# KNN

In [195]:
from sklearn.neighbors import KNeighborsClassifier

In [196]:
knn = KNeighborsClassifier()

In [197]:
k_range = list(range(1, 101, 5))

In [198]:
param_dict = dict(n_neighbors=k_range)

In [199]:
grid = GridSearchCV(knn, param_dict, cv=4, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1)

In [200]:
grid.fit(X, y)

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 4 folds for each of 20 candidates, totalling 80 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:   23.1s finished

GridSearchCV(cv=4, error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=-1,
             param_grid={'n_neighbors': [1, 6, 11, 16, 21, 26, 31, 36, 41, 46,
                                         51, 56, 61, 66, 71, 76, 81, 86, 91,
                                         96]},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [201]:
knnScore = pd.DataFrame(grid.cv_results_)
knnScore.to_csv('NSL_KNN_GridSearch_ChiSquared.csv')

In [202]:
knn2=grid.best_estimator_
grid.best_params_

{'n_neighbors': 1}

In [203]:
knnFinalScore = cross_validate(knn2, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    1.1s finished

In [204]:
pd.DataFrame(knnFinalScore)

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,0.012966,1.190813,0.966068,0.966068,0.966068,0.966068
1,0.013961,1.119006,0.970030,0.970030,0.970030,0.970030
2,0.011966,1.104046,0.973974,0.973974,0.973974,0.973974
3,0.014960,1.189817,0.959920,0.959920,0.959920,0.959920

In [211]:
pd.DataFrame(mlpScore).mean()

fit_time          6.816080
score_time        0.022071
test_accuracy     0.961270
test_precision    0.961270
test_recall       0.961270
test_f1_score     0.961270
dtype: float64

In [212]:
knnFinalScore = pd.DataFrame(knnFinalScore)
knnFinalScore.to_csv('NSL_KNN_Scores_ChiSquared')

# All Results

In [209]:
allResults=pd.concat([
    pd.DataFrame(mlpScore).mean(),
    pd.DataFrame(dtFinalScore).mean(),
    pd.DataFrame(knnFinalScore).mean(),
    pd.DataFrame(ss).mean()
], axis=1)
allResults

                       0         1         2         3
fit_time        6.816080  1.378560  0.013463  1.916651
score_time      0.022071  0.406662  1.150921  1.831205
test_accuracy   0.961270  0.962243  0.967498  0.534751
test_precision  0.961270  0.962243  0.967498  0.534751
test_recall     0.961270  0.962243  0.967498  0.534751
test_f1_score   0.961270  0.962243  0.967498  0.534751

In [210]:
allResults.rename(columns={0:'Multi-level Perceptron', 1:'Decision Tree', 2:'KNN' , 3:'SVM' },  inplace=True)
allResults

                Multi-level Perceptron  Decision Tree       KNN       SVM
fit_time                      6.816080       1.378560  0.013463  1.916651
score_time                    0.022071       0.406662  1.150921  1.831205
test_accuracy                 0.961270       0.962243  0.967498  0.534751
test_precision                0.961270       0.962243  0.967498  0.534751
test_recall                   0.961270       0.962243  0.967498  0.534751
test_f1_score                 0.961270       0.962243  0.967498  0.534751