In [76]:
import pandas as pd
import numpy as np

In [77]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score

# Reading Data

In [78]:
df = pd.read_csv('../Dataset/NSL_new.csv')

In [79]:
df = df.sample(n=4000)

In [80]:
X = df.drop(['label'], axis=1)
y = df['label']

In [81]:
scoring_metrics = {'accuracy' : make_scorer(accuracy_score), 
           'precision' : make_scorer(precision_score, average="micro"),
           'recall' : make_scorer(recall_score, average="micro"), 
           'f1_score' : make_scorer(f1_score, average="micro")}

In [82]:
df.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,label
98833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neptune
83210,0,18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,ipsweep
84136,4,11234,366,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,normal
105369,0,105,147,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,normal
93737,0,143,9531,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,normal

In [83]:
X.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
98833,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
83210,0,18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
84136,4,11234,366,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
105369,0,105,147,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
93737,0,143,9531,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [84]:
y.head()

98833     neptune
83210     ipsweep
84136      normal
105369     normal
93737      normal
Name: label, dtype: object

In [85]:
y = y.replace( to_replace =  'normal' , value = 0 )

y = y.replace( to_replace =  'neptune' , value = 1 )
y = y.replace( to_replace =  'back' , value = 1 )
y = y.replace( to_replace =  'land' , value = 1 )
y = y.replace( to_replace =  'pod' , value = 1 )
y = y.replace( to_replace =  'smurf' , value = 1 )
y = y.replace( to_replace =  'teardrop' , value = 1 )
y = y.replace( to_replace =  'mailbomb' , value = 1 )
y = y.replace( to_replace =  'apache2' , value = 1 )
y = y.replace( to_replace =  'processtable' , value = 1 )
y = y.replace( to_replace =  'udpstorm' , value = 1 )
y = y.replace( to_replace =  'worm' , value = 1 )

y = y.replace( to_replace =  'ipsweep' , value = 2 )
y = y.replace( to_replace =  'nmap' , value = 2 )
y = y.replace( to_replace =  'portsweep' , value = 2 )
y = y.replace( to_replace =  'satan' , value = 2 )
y = y.replace( to_replace =  'mscan' , value = 2 )
y = y.replace( to_replace =  'saint' , value = 2 )

y = y.replace( to_replace =  'ftp_write' , value = 3 )
y = y.replace( to_replace =  'guess_passwd' , value = 3 )
y = y.replace( to_replace =  'imap' , value = 3)
y = y.replace( to_replace =  'multihop' , value = 3 )
y = y.replace( to_replace =  'phf' , value = 3 )
y = y.replace( to_replace =  'spy' , value = 3 )
y = y.replace( to_replace =  'warezclient' , value = 3 )
y = y.replace( to_replace =  'warezmaster' , value = 3 )
y = y.replace( to_replace =  'sendmail' , value = 3 )
y = y.replace( to_replace =  'snmpgetattack' , value = 3 )
y = y.replace( to_replace =  'snmpguess' , value = 3 )
y = y.replace( to_replace =  'xlock' , value = 3 )
y = y.replace( to_replace =  'xsnoop' , value = 3 )
y = y.replace( to_replace =  'httptunnel' , value = 3 )

y = y.replace( to_replace =  'buffer_overflow' , value = 4 )
y = y.replace( to_replace =  'loadmodule' , value = 4 )
y = y.replace( to_replace =  'perl' , value = 4 )
y = y.replace( to_replace =  'rootkit' , value = 4 )
y = y.replace( to_replace =  'ps' , value = 4 )
y = y.replace( to_replace =  'sqlattack' , value = 4  )
y = y.replace( to_replace =  'xterm' , value = 4 )

y = y.replace( to_replace =  'unknown' , value = 5 )

In [86]:
y.head()

98833     1
83210     2
84136     0
105369    0
93737     0
Name: label, dtype: int64

# ChiSquared

In [87]:
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import SelectKBest, chi2

In [88]:
print("before transform:",X)
selector=SelectKBest(score_func=chi2,k=25)
fit = selector.fit(X,y)
features = fit.transform(X)
print("scores_:",fit.scores_)
print("pvalues_:",fit.pvalues_)
print("selected index:",fit.get_support(True))
print("after transform:",fit.transform(X)) 
X = fit.transform(X)

before transform:         duration  src_bytes  dst_bytes  land  wrong_fragment  urgent  hot  \
98833          0          0          0     0               0       0    0
83210          0         18          0     0               0       0    0
84136          4      11234        366     0               0       0    0
105369         0        105        147     0               0       0    0
93737          0        143       9531     0               0       0    0
...          ...        ...        ...   ...             ...     ...  ...
121057      2310        145        105     0               0       0    0
99541          0        170       1091     0               0       0    0
99184          0        219        392     0               0       0    0
7321           0          0          0     0               0       0    0
24200          0          1          0     0               0       0    0

        num_failed_logins  logged_in  num_compromised  ...  flag_REJ  \
98833                   0          0                0  ...         1
83210                   0          0                0  ...         0
84136                   0          1                0  ...         0
105369                  0          0                0  ...         0
93737                   0          1                0  ...         0
...                   ...        ...              ...  ...       ...
121057                  0          0                0  ...         0
99541                   0          1                0  ...         0
99184                   0          1                0  ...         0
7321                    0          0                0  ...         0
24200                   0          0                0  ...         0

        flag_RSTO  flag_RSTOS0  flag_RSTR  flag_S0  flag_S1  flag_S2  flag_S3  \
98833           0            0          0        0        0        0        0
83210           0            0          0        0        0        0        0
84136           0            0          0        0        0        0        0
105369          0            0          0        0        0        0        0
93737           0            0          0        0        0        0        0
...           ...          ...        ...      ...      ...      ...      ...
121057          0            0          0        0        0        0        0
99541           0            0          0        0        0        0        0
99184           0            0          0        0        0        0        0
7321            1            0          0        0        0        0        0
24200           0            0          0        0        0        0        0

        flag_SF  flag_SH
98833         0        0
83210         1        0
84136         1        0
105369        1        0
93737         1        0
...         ...      ...
121057        1        0
99541         1        0
99184         1        0
7321          0        0
24200         1        0

[4000 rows x 122 columns]
scores_: [4.75640662e+06 6.18440687e+08 3.32688090e+08 1.65780731e+00
 1.50860465e+02            nan 3.16017313e+03 3.55073148e+00
 1.24906566e+03 2.71646727e+03 3.40367469e+02 1.24275602e+01
 3.15355111e+03 4.28953772e+02 1.33285024e+03 3.30645711e+01
            nan            nan 1.50416120e+02 2.52811827e+05
 6.28158268e+03 1.67883227e+03 1.69508024e+03 3.84506415e+02
 3.96675013e+02 8.01956786e+02 2.41261906e+02 3.17047499e+02
 4.93792290e+04 2.18958411e+05 7.91310553e+02 4.29567049e+02
 7.79030551e+02 3.28261519e+02 1.66906805e+03 1.73828616e+03
 3.03074644e+02 3.90994461e+02 4.95025686e+02 6.39668430e+01
 1.94341541e+02 6.21378008e+00 8.87682869e-01 5.47076412e+01
            nan 2.69440547e+01 3.31561462e+01 2.98405316e+01
 3.31561462e+01 2.85416037e+01 1.65780731e+01 2.32093023e+01
 2.31344914e+01 2.30546058e+02 2.48671096e+01 1.12324621e+03
 1.47510232e+02 3.48139535e+01 2.81827243e+01 1.19650317e+01
 8.19328409e+01 2.73607414e+02 2.53038860e+01            nan
 1.73144530e+01 8.51160499e+02            nan 3.48139535e+01
            nan 2.81827243e+01 3.62068190e+01 4.14451827e+01
 1.98936877e+01 2.98405316e+01 1.93990486e+01 1.49202658e+01
 2.36919004e+01 1.57465267e+01 2.69206950e+01 2.04862579e+01
 1.32624585e+01 1.27033580e+01 3.64717608e+01 1.11625893e+01
 3.55073148e+00 1.61406524e+02            nan            nan
 1.26047157e+00 4.82097554e+00 6.87803271e+02            nan
 6.63122924e+00 4.82097554e+00 1.65780731e+00 1.97297752e+02
 1.65780731e+01 1.16046512e+01 2.15514950e+01 2.98405316e+01
 1.88952194e+01 6.33761891e+01            nan            nan
 1.92547729e+01            nan 2.30797546e+01 5.64022138e+01
 2.48671096e+01 1.82358804e+01 3.83266617e+01            nan
 1.62572525e+02 3.59720336e+01 6.21818182e+01 5.75474755e+02
 1.79784965e+03 8.87682869e+00 2.83532270e+00 4.37255473e+01
 1.04624811e+03 1.03636364e+02]
pvalues_: [0.00000000e+000 0.00000000e+000 0.00000000e+000 7.98366940e-001
 1.33147008e-031             nan 0.00000000e+000 4.70206555e-001
 3.67357052e-269 0.00000000e+000 2.10671462e-072 1.44395113e-002
 0.00000000e+000 1.53912022e-091 2.50986002e-287 1.15866571e-006
             nan             nan 1.65788937e-031 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 6.18898644e-082
 1.45446888e-084 2.89400451e-172 4.96234381e-051 2.27423734e-067
 0.00000000e+000 0.00000000e+000 5.85477063e-170 1.13427632e-091
 2.67487338e-167 8.64459686e-070 0.00000000e+000 0.00000000e+000
 2.35262910e-064 2.45464119e-083 7.97787122e-106 4.24690201e-013
 6.18376339e-041 1.83741761e-001 9.26321224e-001 3.74109074e-011
             nan 2.04033859e-005 1.10970004e-006 5.27425613e-006
 1.10970004e-006 9.68570722e-006 2.33393007e-003 1.14999213e-004
 1.19027997e-004 1.00702093e-048 5.35015919e-005 6.92472590e-242
 6.95346185e-031 5.07257547e-007 1.14532206e-005 1.76132014e-002
 6.78284002e-017 5.32311552e-058 4.37044268e-005             nan
 1.67906196e-003 6.35106762e-183             nan 5.07257547e-007
             nan 1.14532206e-005 2.62361455e-007 2.17372476e-008
 5.24118543e-004 5.27425613e-006 6.56016230e-004 4.86948056e-003
 9.20736631e-005 3.37884709e-003 2.06264312e-005 4.00269783e-004
 1.00620908e-002 1.28199817e-002 2.31403455e-007 2.47962415e-002
 4.70206555e-001 7.29891092e-034             nan             nan
 8.68045517e-001 3.06164590e-001 1.52444845e-147             nan
 1.56707406e-001 3.06164590e-001 7.98366940e-001 1.43156148e-041
 2.33393007e-003 2.05465748e-002 2.46116542e-004 5.27425613e-006
 8.24085325e-004 5.65490098e-013             nan             nan
 7.00334727e-004             nan 1.22064184e-004 1.65125526e-011
 5.35015919e-005 1.10973937e-003 9.59474487e-008             nan
 4.10347785e-034 2.93228387e-007 1.00872263e-012 3.14591973e-123
 0.00000000e+000 6.42530035e-002 5.85750903e-001 7.31554955e-009
 3.38488871e-225 1.65360974e-021]
selected index: [  0   1   2   6   8   9  12  14  19  20  21  22  25  28  29  30  32  34
  35  55  65  90 115 116 120]
after transform: [[0.0000e+00 0.0000e+00 0.0000e+00 ... 0.0000e+00 0.0000e+00 0.0000e+00]
 [0.0000e+00 1.8000e+01 0.0000e+00 ... 0.0000e+00 0.0000e+00 1.0000e+00]
 [4.0000e+00 1.1234e+04 3.6600e+02 ... 0.0000e+00 0.0000e+00 1.0000e+00]
 ...
 [0.0000e+00 2.1900e+02 3.9200e+02 ... 0.0000e+00 0.0000e+00 1.0000e+00]
 [0.0000e+00 0.0000e+00 0.0000e+00 ... 0.0000e+00 0.0000e+00 0.0000e+00]
 [0.0000e+00 1.0000e+00 0.0000e+00 ... 0.0000e+00 0.0000e+00 1.0000e+00]]

# SVM

In [89]:
from sklearn import svm

In [90]:
svmModel = svm.SVC(gamma='scale')

In [97]:
svmScore = cross_validate(svmModel, X, y, cv=10, scoring=scoring_metrics, verbose=15 ,n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done   2 out of  10 | elapsed:    2.0s remaining:    8.4s
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    2.1s remaining:    5.0s
[Parallel(n_jobs=-1)]: Done   4 out of  10 | elapsed:    2.1s remaining:    3.2s
[Parallel(n_jobs=-1)]: Done   5 out of  10 | elapsed:    2.1s remaining:    2.1s
[Parallel(n_jobs=-1)]: Done   6 out of  10 | elapsed:    2.2s remaining:    1.4s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    2.2s remaining:    0.9s
[Parallel(n_jobs=-1)]: Done   8 out of  10 | elapsed:    2.2s remaining:    0.5s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    3.5s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    3.5s finished

In [98]:
ss = pd.DataFrame(svmScore)

In [99]:
ss.head()

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,1.595463,0.478425,0.528536,0.528536,0.528536,0.528536
1,1.599943,0.571099,0.529851,0.529851,0.529851,0.529851
2,1.718236,0.530432,0.528678,0.528678,0.528678,0.528678
3,1.766356,0.522382,0.532500,0.532500,0.532500,0.532500
4,1.630056,0.456236,0.532500,0.532500,0.532500,0.532500

In [100]:
ss['test_accuracy'].mean()

0.5317566724590267

In [101]:
ss.to_csv('NSL_SVM_ChiSquared_bestEstimator.csv')

# Random Forest

In [102]:
from sklearn.ensemble import RandomForestClassifier

In [103]:
randomForestModel = RandomForestClassifier(max_depth=2, random_state=0, n_estimators=100)

In [104]:
randomForestScore = cross_validate(randomForestModel, X, y, cv=4, scoring=scoring_metrics, verbose=3 ,n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.2s finished

In [105]:
randomForestScore = pd.DataFrame(randomForestScore)

In [106]:
randomForestScore.to_csv('NSL_RandomForest_ChiSquared_scores.csv')

In [107]:
randomForestScore

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,0.178724,0.063085,0.897206,0.897206,0.897206,0.897206
1,0.149062,0.067422,0.903000,0.903000,0.903000,0.903000
2,0.161919,0.056660,0.915000,0.915000,0.915000,0.915000
3,0.162975,0.064007,0.909820,0.909820,0.909820,0.909820

In [108]:
from sklearn.model_selection import GridSearchCV
import numpy as np

In [109]:
rf_parameters={'n_estimators' : range(80,200,20),'max_depth': range(1,20,3), 'min_samples_split': np.arange(0.1,1,0.1)}

In [110]:
rf2 = RandomForestClassifier()

In [111]:
dlGrid = GridSearchCV(rf2, rf_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=3)

In [112]:
dlGrid.fit(X, y)

Fitting 3 folds for each of 378 candidates, totalling 1134 fits

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:    8.0s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   20.6s
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:   38.7s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 1134 out of 1134 | elapsed:  1.6min finished

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=Fa...
                         'min_samples_split': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]),
                         'n_estimators': range(80, 200, 20)},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [113]:
dtGridScores = pd.DataFrame(dlGrid.cv_results_)
dtGridScores.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,param_n_estimators,params,split0_test_accuracy,split1_test_accuracy,...,split2_test_recall,mean_test_recall,std_test_recall,rank_test_recall,split0_test_f1_score,split1_test_f1_score,split2_test_f1_score,mean_test_f1_score,std_test_f1_score,rank_test_f1_score
0,0.238068,0.042067,0.113750,0.027003,1,0.1,80,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.839072,0.871718,...,0.858753,0.85650,0.013428,189,0.839072,0.871718,0.858753,0.85650,0.013428,189
1,0.205416,0.011364,0.112187,0.031552,1,0.1,100,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.857036,0.844711,...,0.858002,0.85325,0.006050,218,0.857036,0.844711,0.858002,0.85325,0.006050,218
2,0.258008,0.020122,0.188286,0.012080,1,0.1,120,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.860030,0.871718,...,0.859504,0.86375,0.005637,116,0.860030,0.871718,0.859504,0.86375,0.005637,116
3,0.294165,0.005343,0.241454,0.005480,1,0.1,140,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.860030,0.871718,...,0.835462,0.85575,0.015101,195,0.860030,0.871718,0.835462,0.85575,0.015101,195
4,0.449543,0.028109,0.244227,0.008962,1,0.1,160,"{'max_depth': 1, 'min_samples_split': 0.1, 'n_...",0.856287,0.870218,...,0.858753,0.86175,0.006070,179,0.856287,0.870218,0.858753,0.86175,0.006070,179

In [114]:
dt3=dlGrid.best_estimator_

In [115]:
dtFinalScore = cross_validate(dt3, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.5s finished

In [116]:
dtFinalScore = pd.DataFrame(dtFinalScore)

In [117]:
dtFinalScore['test_accuracy'].mean()

0.9537534070136281

In [118]:
randomForestScore.to_csv('NSL_RandomForest_ChiSquared_bestEstimator.csv')

# Neural Network

In [119]:
from sklearn.neural_network import MLPClassifier

In [120]:
mlpModel = MLPClassifier()

In [121]:
mlpScore=cross_validate(mlpModel, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    4.5s finished

In [122]:
mlpModel

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [123]:
mlpScore = pd.DataFrame(mlpScore)

In [124]:
mlpScore.to_csv('NSL_MLP_ChiSquared_scores.csv')

In [125]:
nLayers=[
    (4),
    (7),
    (10), #one layer of 10 nodes
    (13),
    (17),
    (20),
    (30),
    (50),
    (80),
    (100),
    (120),
    (140),
    (180),
    (220),
    (10, 10), #two layers, 10 nodes each
    (20, 20), #two layers, 20 nodes each
    (30, 30),
    (50, 50),
    (80, 80),
    (100, 100),
    (150, 150),
    (10, 10, 10), #three layers, 10 nodes each
    (20, 20, 20),
    (30, 30, 30),
    (50, 50, 50),
    (80, 80, 80),
]

In [126]:
mlp_parameters = {
    'hidden_layer_sizes': nLayers,
    'solver': ['sgd', 'adam'],
    'alpha': [0.001, 0.01, 0.05],
    'learning_rate': ['constant','adaptive'],
}

In [127]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [128]:
from sklearn.neural_network import MLPClassifier
mlpModel2 = MLPClassifier()

In [129]:
mlp_grid = GridSearchCV(mlpModel2, mlp_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=3)

In [130]:
mlp_grid.fit(X, y)

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 312 candidates, totalling 936 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:   35.4s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  5.9min
[Parallel(n_jobs=-1)]: Done 936 out of 936 | elapsed:  7.4min finished
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=MLPClassifier(activation='relu', alpha=0.0001,
                                     batch_size='auto', beta_1=0.9,
                                     beta_2=0.999, early_stopping=False,
                                     epsilon=1e-08, hidden_layer_sizes=(100,),
                                     learning_rate='constant',
                                     learning_rate_init=0.001, max_iter=200,
                                     momentum=0.9, n_iter_no_change=10,
                                     nesterovs_momentum=True, power_t=0.5,
                                     random_sta...
                                                (50, 50, 50), (80, 80, 80)],
                         'learning_rate': ['constant', 'adaptive'],
                         'solver': ['sgd', 'adam']},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [131]:
mlpGridScores=pd.DataFrame(mlp_grid.cv_results_)
mlpGridScores.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_hidden_layer_sizes,param_learning_rate,param_solver,params,split0_test_accuracy,...,split2_test_recall,mean_test_recall,std_test_recall,rank_test_recall,split0_test_f1_score,split1_test_f1_score,split2_test_f1_score,mean_test_f1_score,std_test_f1_score,rank_test_f1_score
0,1.261726,0.785391,0.019272,0.003233,0.001,4,constant,sgd,"{'alpha': 0.001, 'hidden_layer_sizes': 4, 'lea...",0.529192,...,0.530428,0.64250,0.159400,234,0.529192,0.867967,0.530428,0.64250,0.159400,234
1,2.129574,0.344014,0.015955,0.001651,0.001,4,constant,adam,"{'alpha': 0.001, 'hidden_layer_sizes': 4, 'lea...",0.562126,...,0.891811,0.74675,0.137569,217,0.562126,0.786947,0.891811,0.74675,0.137569,217
2,2.106794,0.069440,0.017085,0.002496,0.001,4,adaptive,sgd,"{'alpha': 0.001, 'hidden_layer_sizes': 4, 'lea...",0.529192,...,0.530428,0.52975,0.000512,270,0.529192,0.529632,0.530428,0.52975,0.000512,270
3,2.327833,0.391325,0.014983,0.001875,0.001,4,adaptive,adam,"{'alpha': 0.001, 'hidden_layer_sizes': 4, 'lea...",0.810629,...,0.916604,0.87700,0.047284,196,0.810629,0.903976,0.916604,0.87700,0.047284,196
4,0.831100,0.933089,0.017090,0.001336,0.001,7,constant,sgd,"{'alpha': 0.001, 'hidden_layer_sizes': 7, 'lea...",0.530689,...,0.530428,0.48650,0.062320,301,0.530689,0.398350,0.530428,0.48650,0.062320,301

In [132]:
mlpFinalModel = mlp_grid.best_estimator_
mlp_grid.best_params_

{'alpha': 0.01,
 'hidden_layer_sizes': 80,
 'learning_rate': 'adaptive',
 'solver': 'adam'}

In [133]:
mlpFinalScore=cross_validate(mlpFinalModel, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    4.2s finished

In [134]:
mlpFinalScore = pd.DataFrame(mlpFinalScore)
mlpFinalScore.to_csv('NSL_ANN_ChiSquared_bestEstimator.csv')

In [135]:
mlpFinalScore['test_accuracy'].mean()

0.956754401017604

# Decision Trees

In [136]:
from sklearn.tree import tree

In [137]:
dt=tree.DecisionTreeClassifier()

In [138]:
dtScore = cross_validate(dt, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.0s finished

In [139]:
dtScore = pd.DataFrame(dtScore)
dtScore.head()

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1_score
0,0.013126,0.006371,0.980040,0.980040,0.980040,0.980040
1,0.017153,0.003705,0.991000,0.991000,0.991000,0.991000
2,0.016849,0.004001,0.988000,0.988000,0.988000,0.988000
3,0.010723,0.004001,0.988978,0.988978,0.988978,0.988978

In [140]:
dtScore.to_csv('NSL_dtScore_ChiSquared_scores.csv')

In [141]:
dt_parameters={'min_samples_split' : range(10,500,20),'max_depth': range(1,20,2)}

In [142]:
dt2 = tree.DecisionTreeClassifier()

In [143]:
dlGrid = GridSearchCV(dt2, dt_parameters, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1, cv=4)

In [144]:
dlGrid.fit(X, y)

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 4 folds for each of 250 candidates, totalling 1000 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    4.5s finished

GridSearchCV(cv=4, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n...
             param_grid={'max_depth': range(1, 20, 2),
                         'min_samples_split': range(10, 500, 20)},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [145]:
dtGridScores = pd.DataFrame(dlGrid.cv_results_)
dtGridScores.head()
dtGridScores.to_csv('NSL_DT_ChiSquared_GridSearch.csv')

In [146]:
dt3=dlGrid.best_estimator_
dlGrid.best_params_

{'max_depth': 15, 'min_samples_split': 10}

In [147]:
dtFinalScore = cross_validate(dt3, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.0s finished

In [148]:
dtFinalScore = pd.DataFrame(dtFinalScore)
dtFinalScore.to_csv('NSL_DT_ChiSquared_bestEstimator.csv')
dtFinalScore['test_precision'].mean()

0.9882544710178841

# KNN

In [149]:
from sklearn.neighbors import KNeighborsClassifier

In [150]:
knn = KNeighborsClassifier()

In [151]:
k_range = list(range(1, 101, 5))

In [152]:
param_dict = dict(n_neighbors=k_range)

In [153]:
grid = GridSearchCV(knn, param_dict, cv=4, scoring=scoring_metrics, refit='accuracy', verbose=3, n_jobs=-1)

In [154]:
grid.fit(X, y)

C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 4 folds for each of 20 candidates, totalling 80 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:    8.5s finished

GridSearchCV(cv=4, error_score='raise-deprecating',
             estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                            metric='minkowski',
                                            metric_params=None, n_jobs=None,
                                            n_neighbors=5, p=2,
                                            weights='uniform'),
             iid='warn', n_jobs=-1,
             param_grid={'n_neighbors': [1, 6, 11, 16, 21, 26, 31, 36, 41, 46,
                                         51, 56, 61, 66, 71, 76, 81, 86, 91,
                                         96]},
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False,
             scoring={'accuracy': make_scorer(accuracy_score),
                      'f1_score': make_scorer(f1_score, average=micro),
                      'precision': make_scorer(precision_score, average=micro),
                      'recall': make_scorer(recall_score, average=micro)},
             verbose=3)

In [155]:
knnScore = pd.DataFrame(grid.cv_results_)
knnScore.to_csv('NSL_KNN_ChiSquared_GridSearch.csv')

In [156]:
knn2=grid.best_estimator_
grid.best_params_

{'n_neighbors': 1}

In [157]:
knnFinalScore = cross_validate(knn2, X, y, cv=4, scoring=scoring_metrics, verbose=3, n_jobs=-1)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\nayer\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=4.
  % (min_groups, self.n_splits)), Warning)
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.3s finished

In [158]:
knnFinalScore = pd.DataFrame(knnFinalScore)

In [159]:
knnFinalScore.to_csv('NSL_KNN_PCA_bestEstimator.csv')

In [160]:
pd.DataFrame(mlpScore).mean()

fit_time          3.980021
score_time        0.019681
test_accuracy     0.969756
test_precision    0.969756
test_recall       0.969756
test_f1_score     0.969756
dtype: float64

# All Results

In [161]:
allResults=pd.concat([
    mlpScore.mean(),
    dtFinalScore.mean(),
    knnFinalScore.mean(),
    randomForestScore.mean()
], axis=1)
allResults

                       0         1         2         3
fit_time        3.980021  0.016569  0.025103  0.163170
score_time      0.019681  0.006683  0.322414  0.062793
test_accuracy   0.969756  0.988254  0.963751  0.906256
test_precision  0.969756  0.988254  0.963751  0.906256
test_recall     0.969756  0.988254  0.963751  0.906256
test_f1_score   0.969756  0.988254  0.963751  0.906256

In [162]:
allResults.rename(columns={0:'Multi-level Perceptron', 1:'Decision Tree', 2:'KNN' , 3:'Random Forest' },  inplace=True)
allResults

                Multi-level Perceptron  Decision Tree       KNN  Random Forest
fit_time                      3.980021       0.016569  0.025103       0.163170
score_time                    0.019681       0.006683  0.322414       0.062793
test_accuracy                 0.969756       0.988254  0.963751       0.906256
test_precision                0.969756       0.988254  0.963751       0.906256
test_recall                   0.969756       0.988254  0.963751       0.906256
test_f1_score                 0.969756       0.988254  0.963751       0.906256

# All Results

In [163]:
allResults.to_csv('NSL_ChiSquared_Final.csv')